body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.qn-box {
  border: 2px solid #007bff; /* Add a border to the container */
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7;
}

input[type="radio"] {
  margin-right: 5px;
}
.submit-btn
{
position: relative;
left: 50%;
transform: translateX(-50%);
}
